
<div class="row">
    <div class="col-md-3">
        {{# if message }}
            <div class="alert alert-{{message.type}}">
                <p><strong>{{ message.intro }}</strong> {{message.message}}</p>
            </div>

        {{/if}}
    </div>
    <div class="col-md-6">
        <h2>Change Password</h2> <br/>
        {{# if errors }}
            {{# each errors }}
                <p class="alert alert-danger">{{ this.msg }}</p>
            {{/each}}
        {{/if}}


        <form action="/changePassword" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="oldPassword">Current Password</label>
                <input type="password" class="form-control" id="oldPassword" aria-describedby="emailHelp" name="oldPassword">
            </div>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword">
            </div>

            <div class="form-group">
                <label for="cPassword">Confirm New Password</label>
                <input type="password" class="form-control" id="cPassword" name="cPassword">
            </div>

            <button type="submit" class="btn btn-primary">Change</button>
        </form>
    </div>
    <div class="col-md-3"></div>

</div